presets:
	- nette

groups:
	- modernization
	- deprecations

rules:
	group-import: {minImports: 2}
	override-attribute-required: keep

types: phpstan

paths:
	- src
	- tests

excludePaths:
	- fixtures

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  groups: [optimized-calls]
	  nameResolution: certain
	  rules:
	  	name-fallback: {optimizedFunctions: qualified, optimizedConstants: qualified}
