use:
	- nette
	- modernizations

typeAnalysis: phpstan

paths:
	- src
	- tests

excludePaths:
	- tests/**/output
	- fixtures

fileExtensions:
	- php
	- phpt

overrides:
	-
		paths: [src]
		nameResolution: certain
		use:
			- compilerOptimizations
			- deprecations
