package: tracy/tracy

since 2.10.5:
	replacedMembers:
		Tracy\Debugger::VERSION: Version

since 2.10:
	forbiddenClasses:
		Tracy\FireLogger: 'FireLogger support is gone; log with `Tracy\Debugger::log()` or dump into the Tracy Bar with `Tracy\Debugger::barDump()`'
	forbiddenMembers:
		'Tracy\Debugger::fireLog(...$args)': 'FireLogger support is gone; log with `log()` or dump into the Tracy Bar with `barDump()`'
		'Tracy\Debugger::getFireLogger()': 'FireLogger support is gone; log with `getLogger()`'
		'Tracy\Debugger::$showFireLogger': 'FireLogger support is gone; drop the setting'

since 2.9.6:
	replacedMembers:
		Tracy\Debugger::PRODUCTION: Production
		Tracy\Debugger::DEVELOPMENT: Development
		Tracy\Debugger::DETECT: Detect
		Tracy\Debugger::COOKIE_SECRET: CookieSecret

since 2.8:
	replacedMembers:
		Tracy\Dumper::LOCATION_LINK: LOCATION_SOURCE

since 2.6.4:
	replacedCalls:
		'Tracy\ILogger::log($value, priority: $level)': 'log($value, level: $level)'
		'Tracy\Debugger::log($message, priority: $level)': 'log($message, level: $level)'

since 2.6:
	replacedMembers:
		Tracy\Debugger::$maxLen: $maxLength
